<!DOCTYPE html>
<html>
<head>
	<title>Bomb Diffused!</title>
	<style>
		body {
			background-color: #b3d9ff;
			font-family: Arial, sans-serif;
		}
		h1 {
			color: #003366;
			text-align: center;
			margin-top: 50px;
		}
		p {
			font-size: 24px;
			color: #0059b3;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 50px;
		}
		img {
			display: block;
			margin: 0 auto;
			width: 300px;
			height: 300px;
			border-radius: 50%;
			box-shadow: 0px 0px 20px #003366;
		}
	</style>
</head>
<body>
	<h1>Bomb Diffused!</h1>
	<img src="https://png.pngtree.com/png-clipart/20210622/ourlarge/pngtree-game-popup-ui-mission-complete-png-image_3509173.jpg" alt="Bomb Diffused">
	<p>The bomb has been successfully diffused. Thank you for your bravery and quick thinking in the face of danger.<br>We hope to see the same bravery in the future also.<br><h1><b>All the Best Soldier🫡<b></b></h1></p>
</body>
</html>
